* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fff;
    border-bottom: 2px solid #000000;
}

header .logo {
    font-family: poppins;
    font-size: 24px;
    font-weight: bold;
    color: #1e1e1e;
}
.logo span {
    color: #ff9900;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 18px;
}

header ul li a:hover {
    color: #aa7422;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(125deg, #ffb0b0, #ffff98, #ffffff, #7bb97b) ;
}

.content h1 {
   font-family: Tahoma, Geneva;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(2, 2, 2);
}
.order-btn {
   background-color: #b5651d;
   color: white;
   border: 2px solid white;
   font-weight: bold;
   padding: 5px 15px;
   border-radius: 10px;
    transition: transform .5s;
}
.order-btn:hover{
   transform: scale(1.2);
   border:2px solid black;
   background-color: transparent;
}
.ratatoullie img {
    width: 300px;
    filter: drop-shadow(rgb(44, 44, 53) 2px 20 20 20px) ;
}
@media (max-width:768px){
    .hero {
        flex-direction: column;
        text-align: center;
    }
}
.menu-container {
    text-align: center;
    margin-top: 20px;
}
.title {
    font-size: 30px;
    color: #4b2b1c;
    margin-bottom: 20px;
}
.title span{
    color: #b5651d;
}
.menu-items{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.menu-item{
    background-color: #f4a460;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    height: auto;
    text-align: center;
    transition: transform 0.3s;
}
.menu-item hover {
    transform: scale(1.1);
}
.menu-item img{
    width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
.menu-info h2{
    font-size: 1.2rem;
    color: #fff;
}
.menu-info p{
    font-size: 1rem;
    color: #000000;
}
.testimonial-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #e3b220;
    margin-top: 30px;
}

h1 span {
    color: #000;
    font-weight: bold;
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #ffffff;
 
}

.testimonial-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.393);
    transition: transform 0.3s;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

.testimonial-card img {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.role {
    font-size: 0.9rem;
    color: rgb(96, 93, 93);
    margin-bottom: 10px;
}

.comment {
    font-size: 1rem;
    color: #000000;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #c0903e;
   
    max-width: 100%;
    margin: 50px auto;
}


.contact-info {
    width: 45%;
}

.contact-info h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 1rem;
}


.contact-form {
    width: 45%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}
footer {
    background-color:rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
  
  }
  
  
  
